@use 'uswds-core' as *;
@use 'cfa-core' as *;

.cfa-form-card {
  @include set-text-and-bg('white');
  @include u-border($theme-card-border-width, $theme-card-border-color);
  @include u-radius($theme-card-border-radius);

  padding: units(7) units(3);
  // margin-left: -(units(0.5));
  // margin-right: -(units(0.5));
  margin-left: auto;
  margin-right: auto;
  margin-bottom: units(0.5);

  @include at-media('tablet') {
    // max-width: units('tablet');
    max-width: units(1) * $cfa-form-card-width;

    padding: units(7) units(4);
  }
}

// Custom utility breakpoint
.maxw-form-card {
  @include at-media('tablet') {
    max-width: units(1) * $cfa-form-card-width;
  }
}

.cfa-form-card__graphic {
  width: units(10);
  height: units(9);

  display: block;
  margin-bottom: units(1);
}

.cfa-form-card__heading {
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    @include typeset($cfa-form-card-header-typeset);

    margin-bottom: 0;
  }
}

.cfa-form-card__help-message {
  margin-top: units(3);
}

.cfa-form-card__details {
  margin-top: units(3);

  display: grid;
  gap: units(3);
}

.cfa-form-card__header-alert {
  margin-top: units(3);
}

.cfa-form-card__content {
  display: grid;
  gap: units(7);

  margin-top: units(7);

  > * {
    // This is a reset that necessary to prevent grid cells auto wrapping
    // their contents natural width IF they are displayed as flex.
    // If this broad declaration causes a problem, it can be removed but the
    // property will need to be set on form groups individually.
    min-width: 0;
  }
}

.cfa-form-card__input-select-group {
  .cfa-radio:first-child .usa-radio__label,
  .cfa-checkbox:first-child .usa-checkbox__label {
    margin-top: 0
  }
}

.cfa-form-card__footer {
  margin-top: units(7);

  display: grid;
  gap: units(4);

  .usa-button {
    margin-top: 0;
  }

  @include at-media('mobile-lg') {
    .usa-button {
      margin-top: 0;
    }
  }
}
