@use 'uswds-core' as *;
@use '../../scss/theme/_uswds-theme-shared.scss' as *;

.cfa-form-card {
  @include set-text-and-bg('white');
  @include u-border($theme-card-border-width, $theme-card-border-color);
  @include u-radius($theme-card-border-radius);

  padding: units(7) units(3);
  // margin-left: -(units(0.5));
  // margin-right: -(units(0.5));
  margin-left: auto;
  margin-right: auto;
  margin-bottom: units(0.5);


  @include at-media('tablet') {
    max-width: units('tablet');

    // margin-left: 0;
    // margin-right: 0;
    padding: units(7) units(4);
  }
}

// @media screen and (min-width: 601px) {
//   .cfa-form-card {
//     margin-left: 0;
//     margin-right: 0;
//     padding: units(7) units(4);
//   }
// }

// .cfa-form-card p {
//   max-width: 30em;
// }

.cfa-form-card__graphic {
  width: units(10);
  height: units(9);

  display: block;
  margin-bottom: units(1);
}

// .cfa-form-card__header {
//   display: grid;
//   gap: units(3);

//   margin-bottom: units(7);
// }

.cfa-form-card__heading {
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    @include u-font('sans', 'xl');
    @include u-text('bold');

    // margin-bottom: units(3);
    margin-bottom: 0;
  }
}

.cfa-form-card__help-message {
  margin-top: units(3);
}

.cfa-form-card__header-alert {
  margin-top: units(3);
}

// .cfa-form-card__header--with-icon {
//   position: relative;

//   @include at-media('tablet') {
//     padding-right: units(7);
//   }
// }

// @media screen and (min-width: 601px) {
//   .cfa-form-card__header--with-icon {
//     padding-right: units(7);
//   }
// }

// .cfa-form-card__icon {
//   float: right;
//   margin-left: units(0.5);

//   @include at-media('tablet') {
//     position: absolute;
//     right: units(4);
//     margin-left: 0;
//     float: none;
//   }
// }

// @media screen and (min-width: 601px) {
//   .cfa-form-card__icon {
//     position: absolute;
//     right: units(4);
//     margin-left: 0;
//     float: none;
//   }
// }

// .cfa-form-card__title {
//   font-size: 2.7rem;
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .cfa-form-card__title + .text--help,
// .cfa-form-card__title + .statistic-card__label,
// .data-table .cfa-form-card__title + th,
// .cfa-form-card__title + .summary-table__label,
// .cfa-form-card__title + .text--small {
//   margin-top: 2.5rem;
//   margin-bottom: 0;
// }

.cfa-form-card__content {
  display: grid;
  gap: units(7);

  margin-top: units(7);
  // margin-top: units(4);
}

.cfa-form-card__input-select-group {
  .cfa-radio:first-child .usa-radio__label,
  .cfa-checkbox:first-child .usa-checkbox__label {
    margin-top: 0
  }
}

.cfa-form-card__footer {
  // margin-left: -1.5rem;
  // margin-right: -1.5rem;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;
  margin-top: units(7);

  // @include at-media('tablet') {
  //   margin-left: -3.5rem;
  //   margin-right: -3.5rem;
  //   padding-left: 3.5rem;
  //   padding-right: 3.5rem;
  // }

  display: grid;
  gap: units(4);
}

.usa-button.cfa-form-card__footer-first-button {
  margin-top: 0;
}

// @media screen and (min-width: 601px) {
//   .cfa-form-card__footer {
//     margin-left: -3.5rem;
//     margin-right: -3.5rem;
//     padding-left: 3.5rem;
//     padding-right: 3.5rem;
//   }
// }

// .cfa-form-card__footer .cfa-button {
//   margin-top: revert;
// }

// .cfa-form-card--transition {
//   text-align: center;
// }

// .cfa-form-card--transition p {
//   margin-left: auto;
//   margin-right: auto;
// }

// .cfa-form-card--transition .button:first-of-type,
// .cfa-form-card--transition .incrementer__subtract:first-of-type,
// .cfa-form-card--transition .incrementer__add:first-of-type,
// .cfa-form-card--transition .searchbar__button:first-of-type {
//   margin-left: units(15);
// }

// .cfa-form-card--transition .text-input-group-container {
//   display: inline-block;
// }

// .cfa-form-card--transition .text-input {
//   margin: 0 auto;
// }

// .cfa-form-card--transition .cfa-form-card__content .list--bulleted,
// .cfa-form-card--transition .cfa-form-card__content .media-box {
//   max-width: 25em;
//   text-align: left;
//   margin: 0 auto;
// }
