@use 'uswds-core/src/styles/settings' as *;
@use 'uswds-core/src/styles/functions' as *;
@use 'uswds-core/src/styles/mixins/utility-builder' as *;
@use 'uswds-utilities/src/styles/functions' as *;

// Mixins and variables

@mixin cfa-font-smooth() {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

// Add logical property utilities for margin, padding, and border.
// Text alignment is added through the theme configuration.

$cfa-u-margin: (
  margin-horizontal: (
    base: 'margin',
    modifiers: (
      'inline-x': (
        '-inline-start',
        '-inline-end',
      ),
      'end': '-inline-end',
      'start': '-inline-start'
    ),
    values: map-collect(get-palettes($margin-horizontal-palettes),
      $margin-manual-values),
    settings: $margin-settings-complete,
    property: 'margin',
    type: 'utility',
  )
);

$cfa-u-padding: (
  padding-horizontal: (
    base: 'padding',
    modifiers: (
      'inline-x': (
        '-inline-start',
        '-inline-end',
      ),
      'end': '-inline-end',
      'start': '-inline-start'
    ),
    values: map-collect(get-palettes($padding-palettes),
      $padding-manual-values),
    settings: $padding-settings-complete,
    property: 'padding',
    type: 'utility'
  )
);

$cfa-u-border-width: (
  border-horizontal: (
    base: 'border',
    modifiers: (
      'inline-x-width': (
        '-inline-start-width',
        '-inline-end-width',
      ),
      'end-width': '-inline-end-width',
      'start-width': '-inline-start-width'
    ),
    values: map-collect(get-palettes($border-width-palettes),
      $border-width-manual-values),
    settings: $border-width-settings-complete,
    property: 'border',
    type: 'utility'
  )
);

$cfa-utilities-package: map-collect(
  $cfa-u-margin,
  $cfa-u-padding,
  $cfa-u-border-width
);

// Render

.cfa-font-smooth {
  @include cfa-font-smooth
}

.cfa-shrink-0 {
  flex-shrink: 0
}

.cfa-sr-only {
  clip: rect(0,0,0,0) !important;
  border-width: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@include render-utilities-in($cfa-utilities-package);
