@use 'uswds-core' as *;
@use 'cfa-core' as *;

@mixin cfa-input-border() {
  @include u-border($cfa-form-elements-border-width, 'ink');
}

@mixin cfa-input {
  @include set-text-and-bg(
    $bg-color: $theme-color-base-lightest,
    $preferred-text-color: 'ink',
    $context: 'CfA Input'
  );

  font-weight: $theme-font-weight-bold;
  box-shadow: inset 0px units($theme-input-state-border-width) 0px color($theme-color-base-lighter);

  padding: units($cfa-form-elements-padding-y) units($cfa-form-elements-padding-x);

  cursor: pointer;
  text-overflow: ellipsis;

  &[type='date'] {
    flex-direction: row-reverse;
  }
}

.cfa-input {
  @include cfa-input();

  height: units($cfa-input-height);
}

.cfa-input:not(.usa-input--error):not(.usa-input--success) {
  @include cfa-input-border();
}

.cfa-input[type='date'] {
  // Places calendar icon at the beginning for chrome/edge
  flex-direction: row-reverse;
  gap: units(0.5)
}

.cfa-input::-webkit-date-and-time-value {
  text-align: start;
}
