@use 'uswds-core' as *;
@use '../../scss/theme/_uswds-theme-shared.scss' as *;

.cfa-input {
  @include cfa-input();

  height: units($theme-input-height);
}

.cfa-input:not(.usa-input--error):not(.usa-input--success) {
  @include cfa-form-elements-border();
}

.cfa-input[type='date'] {
  // Places calendar icon at the beginning for chrome/edge
  flex-direction: row-reverse;
  gap: units(0.5)
}

.cfa-input::-webkit-date-and-time-value {
  text-align: start;
}
