@use 'uswds-core' as *;
@use 'cfa-core' as *;
@use '../cfa-links/_cfa-links.scss' as *;

.cfa-details {
  @include u-font('sans', '2xs');
}

.cfa-details__summary {
  border: none;

  @include u-border-bottom($theme-button-stroke-width);

  @include set-text-and-bg(
    $bg-color: $cfa-details-background-color,
    $preferred-text-color: $cfa-details-text-color,
    $context: 'CfA Details'
  );

  padding: units(1.5);
  padding-inline-end: units(1);

  cursor: pointer;
  display: inline-block;
  appearance: none;

  // Hide the default arrow on Safari
  &::-webkit-details-marker {
    display: none
  }

  > * {
    pointer-events: none;
  }

  > .usa-icon {
    margin-bottom: -0.2rem;
    pointer-events: none;

    &:first-child {
      margin-inline-end: units(0.5);
    }

    &:last-child {
      margin-inline-start: units(0.5);
    }
  }

  &:focus {
    @include focus-outline
  }
}

.cfa-details__content {
  margin-top: units(2);
}

.cfa-details {
  .cfa-details__summary > .usa-icon {
    transform: rotate(90deg)
  }

  &[open] .cfa-details__summary > .usa-icon,
  .cfa-details__summary[aria-expanded='true'] > .usa-icon {
    transform: rotate(-90deg)
  }
}
