@use 'sass:string';
@use 'uswds-core' as *;
@use 'cfa-core' as *;
@use '../cfa-transition/_cfa-transition.scss' as *;

@mixin theme-input-select($input-select-type: 'checkbox') {
  .cfa-#{$input-select-type} {
    .usa-#{$input-select-type}__input--tile {
      @include format-label {
        @include cfa-transition;

        font-weight: $theme-font-weight-bold;

        padding: units($cfa-input-select-padding-y) units($cfa-input-select-padding-x);
        padding-left: units($cfa-input-select-padding-x) + units($cfa-input-select-width) + units($cfa-input-select-gap);

        margin-top: units($cfa-input-select-margin);

        &::before {
          width: units($cfa-input-select-width);
          height: units($cfa-input-select-height);

          top: 0;
          left: 0;

          margin-top: calc(#{units($cfa-input-select-padding-y)} + 3px);
          margin-left: units($cfa-input-select-padding-x);
        }

        .usa-#{$input-select-type}__label-description {
          font-weight: $theme-font-weight-normal;
        }
      }

      &:focus {
        @include format-label {
          @include focus-outline($width: null, $style: null, $color: null, $offset: 0);
        }

        @include format-input {
          @include focus-outline($width: null, $style: null, $color: null, $offset: units(2px));
        }
      }
    }
  }

  // Colors
  .cfa-#{$input-select-type} {
    .usa-#{$input-select-type}__input--tile:not(:checked):not([disabled]) {
      @include format-label {
        @include set-text-and-bg(
          $bg-color: $theme-body-background-color,
          $preferred-text-color: 'ink',
          $context: 'CfA #{string.to-upper-case($input-select-type)}'
        );

        border-color: color('ink');

        &:hover {
          @include set-text-and-bg(
            $bg-color: 'base-lightest',
            $preferred-text-color: 'ink',
            $context: 'CfA #{string.to-upper-case($input-select-type)}'
          );
        }
      }
    }

    .usa-#{$input-select-type}__input--tile {
      &:disabled,
      &[aria-disabled="true"] {
        @include format-label {
          border-color: color($theme-color-disabled);
        }
      }
    }
  }
}

@include theme-input-select('checkbox');

@include theme-input-select('radio');
