/*
 * USWDS theme setting overrides
 */

@use 'cfa-uswds-theme' as *;

@use 'uswds-core' with (
  // Settings
  $theme-show-compile-warnings: $cfa-show-compile-warnings,
  $theme-show-notifications: $cfa-show-notifications,

  // Focus
  $theme-focus-color: $cfa-focus-color,

  // Spacing
  $theme-border-radius-sm: $cfa-border-radius-sm,
  $theme-border-radius-md: $cfa-border-radius-md,
  $theme-border-radius-lg: $cfa-border-radius-lg,
  $theme-grid-container-max-width: $cfa-grid-container-max-width,
  // $theme-site-margins-width: 1, // affects alert horizontal padding
  // $theme-site-margins-mobile-width: 1, // affects alert horizontal padding
  $theme-banner-max-width: $cfa-banner-max-width,
  $theme-footer-max-width: $cfa-footer-max-width,
  $theme-header-max-width: $cfa-header-max-width,
  $theme-identifier-max-width: $cfa-identifier-max-width,
  $theme-in-page-nav-main-content-max-width: $cfa-in-page-nav-main-content-max-width,
  $theme-site-alert-max-width: $cfa-site-alert-max-width,

  // Color
  // - Base
  $theme-color-base-family: $cfa-color-base-family,
  $theme-color-base-lightest: $cfa-color-base-lightest,
  $theme-color-base-lighter: $cfa-color-base-lighter,
  $theme-color-base-light: $cfa-color-base-light,
  $theme-color-base: $cfa-color-base,
  $theme-color-base-dark: $cfa-color-base-dark,
  $theme-color-base-darker: $cfa-color-base-darker,
  $theme-color-base-darkest: $cfa-color-base-darkest,
  $theme-color-base-ink: $cfa-color-base-ink,

  // - Primary
  $theme-color-primary-family: $cfa-color-primary-family,
  $theme-color-primary-lightest: $cfa-color-primary-lightest,
  $theme-color-primary-lighter: $cfa-color-primary-lighter,
  $theme-color-primary-light: $cfa-color-primary-light,
  $theme-color-primary: $cfa-color-primary,
  $theme-color-primary-vivid: $cfa-color-primary-vivid,
  $theme-color-primary-dark: $cfa-color-primary-dark,
  $theme-color-primary-darker: $cfa-color-primary-darker,

  // - Secondary
  $theme-color-secondary-family: $cfa-color-secondary-family,
  $theme-color-secondary-lighter: $cfa-color-secondary-lighter,
  $theme-color-secondary-light: $cfa-color-secondary-light,
  $theme-color-secondary: $cfa-color-secondary,
  $theme-color-secondary-vivid: $cfa-color-secondary-vivid,
  $theme-color-secondary-dark: $cfa-color-secondary-dark,
  $theme-color-secondary-darker: $cfa-color-secondary-darker,

  // - Accent Warm
  $theme-color-accent-warm-family: $cfa-color-accent-warm-family,
  $theme-color-accent-warm-lighter: $cfa-color-accent-warm-lighter,
  $theme-color-accent-warm-light: $cfa-color-accent-warm-light,
  $theme-color-accent-warm: $cfa-color-accent-warm,
  $theme-color-accent-warm-dark: $cfa-color-accent-warm-dark,
  $theme-color-accent-warm-darker: $cfa-color-accent-warm-darker,

  // - Accent Cool
  $theme-color-accent-cool-family: $cfa-color-accent-cool-family,
  $theme-color-accent-cool-lighter: $cfa-color-accent-cool-lighter,
  $theme-color-accent-cool-light: $cfa-color-accent-cool-light,
  $theme-color-accent-cool: $cfa-color-accent-cool,
  $theme-color-accent-cool-dark: $cfa-color-accent-cool-dark,
  $theme-color-accent-cool-darker: $cfa-color-accent-cool-darker,

  // - Error
  $theme-color-error-family: $cfa-color-error-family,
  $theme-color-error-lighter: $cfa-color-error-lighter,
  $theme-color-error-light: $cfa-color-error-light,
  $theme-color-error: $cfa-color-error,
  $theme-color-error-dark: $cfa-color-error-dark,
  $theme-color-error-darker: $cfa-color-error-darker,

  // - Warning
  $theme-color-warning-family: $cfa-color-warning-family,
  $theme-color-warning-lighter: $cfa-color-warning-lighter,
  $theme-color-warning-light: $cfa-color-warning-light,
  $theme-color-warning: $cfa-color-warning,
  $theme-color-warning-dark: $cfa-color-warning-dark,
  $theme-color-warning-darker: $cfa-color-warning-darker,

  // - Success
  $theme-color-success-family: $cfa-color-success-family,
  $theme-color-success-lighter: $cfa-color-success-lighter,
  $theme-color-success-light: $cfa-color-success-light,
  $theme-color-success: $cfa-color-success,
  $theme-color-success-dark: $cfa-color-success-dark,
  $theme-color-success-darker: $cfa-color-success-darker,

  // - Info
  $theme-color-info-family: $cfa-color-info-family,
  $theme-color-info-lighter: $cfa-color-info-lighter,
  $theme-color-info-light: $cfa-color-info-light,
  $theme-color-info: $cfa-color-info,
  $theme-color-info-dark: $cfa-color-info-dark,
  $theme-color-info-darker: $cfa-color-info-darker,

  // - Emergency
  $theme-color-emergency: $cfa-color-emergency,
  $theme-color-emergency-dark: $cfa-color-emergency-dark,

  // - Disabled
  $theme-color-disabled-family: $cfa-color-disabled-family,
  $theme-color-disabled-light: $cfa-color-disabled-light,
  $theme-color-disabled: $cfa-color-disabled,
  $theme-color-disabled-dark: $cfa-color-disabled-dark,

  // - Visited
  $theme-link-color: $cfa-link-color,
  $theme-link-visited-color: $cfa-link-visited-color,

  // Typography
  $theme-global-paragraph-styles: $cfa-global-paragraph-styles,
  $theme-global-link-styles: $cfa-global-link-styles,
  $theme-global-content-styles: $cfa-global-content-styles,
  $theme-font-type-sans: $cfa-font-type-sans,
  $theme-font-type-serif: $cfa-font-type-serif,
  $theme-font-role-heading: $cfa-font-role-heading,

  // - Custom monospaced font
  $theme-typeface-tokens: $cfa-typeface-tokens,
  $theme-font-type-mono: $cfa-font-type-mono,
  $theme-font-mono-custom-stack: $cfa-font-mono-custom-stack,

  // - Type scale
  $theme-type-scale-3xs: $cfa-type-scale-3xs,
  $theme-type-scale-2xs: $cfa-type-scale-2xs,
  $theme-type-scale-xs: $cfa-type-scale-xs,
  $theme-type-scale-sm: $cfa-type-scale-sm,
  $theme-type-scale-md: $cfa-type-scale-md,
  $theme-type-scale-2xl: $cfa-type-scale-2xl,
  $theme-type-scale-3xl: $cfa-type-scale-3xl,

  $theme-style-body-element: $cfa-style-body-element,
  $theme-body-line-height: $cfa-body-line-height,
  $theme-h6-font-size: $cfa-h6-font-size,
  $theme-small-font-size: $cfa-small-font-size,

  $theme-text-measure-narrow: $cfa-text-measure-narrow,
  $theme-text-measure: $cfa-text-measure,
  $theme-text-measure-wide: $cfa-text-measure-wide,

  $theme-lead-line-height: $cfa-lead-line-height,

  // Components
  // - Alert
  $theme-alert-padding-x: $cfa-alert-padding-x,
  $theme-alert-padding-y: $cfa-alert-padding-y,
  $theme-alert-link-color: $cfa-alert-link-color,
  // - Accordion
  $theme-accordion-border-width: $cfa-accordion-border-width,
  $theme-accordion-border-color: $cfa-accordion-border-color,
  // - Banner
  $theme-banner-link-color: $cfa-banner-link-color,
  // - Checkbox
  $theme-input-select-size: $cfa-input-select-size,
  $theme-checkbox-border-radius: $cfa-checkbox-border-radius,
  $theme-input-tile-border-radius: $cfa-input-tile-border-radius,
  $theme-input-tile-border-width: $cfa-input-tile-border-width,
  // - Header
  $theme-header-logo-text-width: $cfa-header-logo-text-width,
  // - Summary Box
  $theme-summary-box-link-color: $cfa-summary-box-link-color,

  // Utilities
  $utilities-use-important: $cfa-utilities-use-important,
  $theme-utility-breakpoints: $cfa-utility-breakpoints,
  $text-align-manual-values: $cfa-text-align-manual-values
);
