/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use 'uswds-core' as *;

.site-prose .site-component-section-title {
  border-top: 1px solid;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-top: .75rem;
}

.site-prose .site-preview-heading {
  margin-bottom: 1rem;
}

.site-swatch {
  height: 2rem;
  width: 2rem;
  text-align: middle;
}

:root {
  --cfa-spacing-DEFAULT: #{units(2)};

  --cfa-code-webkit-font-smoothing: auto;
  --cfa-code-moz-osx-font-smoothing: auto;

  --cfa-code-text: #{color($theme-color-primary-darker)};
  --cfa-code-link: #{color($theme-color-primary-darker)};
  --cfa-code-text-css: #{color($theme-color-primary-darker)};
  --cfa-code-text-javascript: #{color($theme-color-primary-darker)};

  --cfa-code-text-comment: #{color($theme-color-base)};
  --cfa-code-text-keyword: #{color($theme-color-accent-cool-darker)};
  --cfa-code-text-string: #{color($theme-color-secondary-dark)};
  --cfa-code-text-symbol: #{color($theme-color-secondary-dark)};

  --cfa-code-background: #{color($theme-color-base-lightest)};
  --cfa-code-background-select: #{color($theme-color-warning-lighter)};

  --cfa-code-text-code: #{color($theme-color-primary-darker)};
  --cfa-code-text-webkit-font-smoothing: auto;
  --cfa-code-text-moz-osx-font-smoothing: auto;
  --cfa-code-text-code-background: #{color($theme-color-base-lightest)};

  --cfa-code-border: hsla(0, 0%, 100%, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cfa-code-webkit-font-smoothing: antialiased;
    --cfa-code-moz-osx-font-smoothing: grayscale;

    --cfa-code-text: #{color($theme-color-base-lighter)};
    --cfa-code-link: #{color($theme-color-base-lighter)};
    --cfa-code-text-css: #{color($theme-color-base-lighter)};
    --cfa-code-text-javascript: #{color($theme-color-base-lighter)};

    --cfa-code-text-comment: #{color($theme-color-primary-light)};
    --cfa-code-text-keyword: #{color($theme-color-success-light)};
    --cfa-code-text-string: #{color($theme-color-warning)};
    --cfa-code-text-symbol: #{color($theme-color-warning)};

    --cfa-code-background: #{color($theme-color-primary-darker)};
    --cfa-code-background-select: #{color($theme-color-base-darkest)};

    --cfa-code-text-code: #{color($theme-color-primary-darker)};
    --cfa-code-text-webkit-font-smoothing: auto;
    --cfa-code-text-moz-osx-font-smoothing: auto;
    --cfa-code-text-code-background: #{color($theme-color-base-lightest)};

    --cfa-code-border: hsla(0, 0%, 100%, 0);
  }
}
