@use 'sass:string';
@use 'uswds-core' as *;

@mixin theme-transition() {
  transition: 0.1s ease-out background, color, border, box-shadow, transform, stroke, stroke-dashoffset, fill;
}

// 5. Components
// - Input
$theme-form-elements-padding-y: 2;
$theme-form-elements-padding-x: 2.5;
$theme-form-elements-border-width: 2px;
$theme-input-height: 8;
$theme-textarea-height: 15;
$theme-select-height: 8;
// $theme-input-select-margin-right: 1.5; // Checkbox and Radio inputs
// $theme-input-select-size: 2.5;

@mixin cfa-form-elements-border() {
  @include u-border($theme-form-elements-border-width, 'ink');
}

@mixin cfa-input() {
  @include set-text-and-bg(
    $bg-color: $theme-color-base-lightest,
    $preferred-text-color: 'ink',
    $context: 'CfA Input'
  );

  font-weight: $theme-font-weight-bold;
  box-shadow: inset 0px units($theme-input-state-border-width) 0px color($theme-color-base-lighter);

  padding: units($theme-form-elements-padding-y) units($theme-form-elements-padding-x);

  cursor: pointer;
  text-overflow: ellipsis;
}

// - Radio
// - Checkbox

$theme-input-select-margin: units(1.5);

$theme-input-select-width: units(2);
$theme-input-select-height: units(2);
$theme-input-select-padding-x: units(3);
$theme-input-select-padding-y: units(2);
$theme-input-select-gap: units(2);

@mixin theme-input-select($input-select-type: 'checkbox') {
  .cfa-#{$input-select-type} {
    .usa-#{$input-select-type}__input--tile {
      @include format-label {
        @include theme-transition;

        font-weight: $theme-font-weight-bold;

        padding: $theme-input-select-padding-y $theme-input-select-padding-x;
        padding-left: $theme-input-select-padding-x + $theme-input-select-width + $theme-input-select-gap;

        margin-top: $theme-input-select-margin;

        &::before {
          width: $theme-input-select-width;
          height: $theme-input-select-height;

          top: 0;
          left: 0;

          margin-top: calc(#{$theme-input-select-padding-y} + 3px);
          margin-left: $theme-input-select-padding-x;
        }

        .usa-#{$input-select-type}__label-description {
          font-weight: $theme-font-weight-normal;
        }
      }

      &:focus {
        @include format-label {
          @include focus-outline($width: null, $style: null, $color: null, $offset: 0);
        }

        @include format-input {
          @include focus-outline($width: null, $style: null, $color: null, $offset: units(2px));
        }
      }
    }
  }

  // Colors
  .cfa-#{$input-select-type} {
    .usa-#{$input-select-type}__input--tile:not(:checked):not([disabled]) {
      @include format-label {
        @include set-text-and-bg(
          $bg-color: $theme-body-background-color,
          $preferred-text-color: 'ink',
          $context: 'CfA #{string.to-upper-case($input-select-type)}'
        );

        border-color: color('ink');

        &:hover {
          @include set-text-and-bg(
            $bg-color: 'base-lightest',
            $preferred-text-color: 'ink',
            $context: 'CfA #{string.to-upper-case($input-select-type)}'
          );
        }
      }
    }

    .usa-#{$input-select-type}__input--tile {
      &:disabled,
      &[aria-disabled="true"] {
        @include format-label {
          border-color: color($theme-color-disabled);
        }
      }
    }
  }
}

// - Form
// - Alert
// - Accordion
$theme-accordion-border: units($theme-accordion-border-width) solid color($theme-accordion-border-color);
// - Footer
// - Button
$theme-button-stroke: inset 0 0 0 units($theme-button-stroke-width);
// - Header
