@use 'uswds-core' as *;
@use 'cfa-core' as *;
@use '../cfa-input/_cfa-input.scss';

.cfa-select {
  @include set-text-and-bg(
    $bg-color: $theme-body-background-color,
    $preferred-text-color: 'ink',
    $context: 'CfA Select'
  );

  @include add-background-svg('usa-icons/arrow_drop_down');

  background-size: units(4);

  // height: calc(units($cfa-select-height) - $cfa-form-elements-border-width);
  height: units($cfa-select-height);
  font-weight: $theme-font-weight-bold;

  padding-top: units($cfa-form-elements-padding-y);
  padding-bottom: units($cfa-form-elements-padding-y);
  padding-left: units($cfa-form-elements-padding-x);

  cursor: pointer;
  text-overflow: ellipsis;

  overflow: hidden;
  text-overflow: ellipsis;
}

.cfa-select:not(.usa-input--error):not(.usa-input--success),
.cfa-select:not(.usa-select--error):not(.usa-select--success) {
  @include cfa-input.cfa-input-border();
}
