@use 'uswds-core' as *;
@use 'cfa-core' as *;

.cfa-alert {
  // border: 2px solid;
  @include u-border($cfa-alert-border-width);

  .usa-alert__body {
    // The USWDS currently doesn't respect $theme-alert-padding-x and uses the
    // $theme-site-margins-width to calculate alert body margins. The following
    // override enforces these settings.
    //
    // @since  USWDS v3.5.0
    //
    // @source https://github.com/uswds/uswds/issues/5252

    @include u-padding-y($theme-alert-padding-y);
    @include u-padding-x($theme-alert-padding-x);

    @include at-media($theme-site-margins-breakpoint) {
      @include u-padding-y($theme-alert-padding-y);
      @include u-padding-x($theme-alert-padding-x);
    }
  }

  .usa-alert__body::before {
    display: none
  }

  a:not(.usa-button),
  a:hover:not(.usa-button),
  a:visited:not(.usa-button) {
    color: color($theme-alert-link-color);
  }
}

.cfa-site-alert {
  .usa-alert__body {
    @include grid-container($theme-site-alert-max-width);
    @include add-responsive-site-margins;
  }
}

.usa-alert--info {
  border-color: color('info-light');
}

.usa-alert--warning {
  border-color: color('warning');
}

.usa-alert--error {
  border-color: color('error');
}

.usa-alert--success {
  border-color: color('success-darker');
}

.usa-alert--emergency {
  border-color: color('emergency-dark');
}
