@use 'uswds-core' as *;

.cfa-alert {
  border: 2px solid;

  .usa-alert__body {
    padding: units($theme-alert-padding-x);
  }

  .usa-alert__body::before {
    display: none
  }

  a:not(.usa-button),
  a:hover:not(.usa-button),
  a:visited:not(.usa-button) {
    color: color($theme-alert-link-color);
  }
}

.usa-alert--info {
  border-color: color($theme-color-info-light);
}

.usa-alert--warning {
  border-color: color($theme-color-warning);
}

.usa-alert--error {
  border-color: color($theme-color-error);
}

.usa-alert--success {
  border-color: color($theme-color-success-darker);
}

.usa-alert--emergency {
  border-color: color($theme-color-emergency-dark);
}
