@use 'uswds-core' as *;
@use '../src/scss/_cfa-theme-shared.scss' as *;
@use '../cfa-transition/_cfa-transition.scss' as *;

.cfa-file-input {
  .usa-file-input__target {
    @include u-border($theme-form-elements-border-width, dashed, $theme-color-primary);

    cursor: pointer;

    > * {
      pointer-events: none;
    }
  }

  .usa-file-input__instructions {
    .usa-hint {
      @include u-font($theme-body-font-family, 'xs');
      @include u-margin-bottom(2);

      color: color('ink');
    }
  }

  .usa-file-input__box {
    @include cfa-transition;
  }

  .usa-file-input--drag,
  .usa-file-input__target:hover {
    .usa-file-input__box {
      @include focus-outline;

      background-color: color('primary-lightest');
    }

    .usa-file-input__choose {
      color: color('ink');
    }
  }

  .usa-file-input__preview,
  .usa-file-input__preview-heading {
    background-color: color('primary-lightest');
  }

  .usa-file-input--drag,
  .usa-file-input__preview-heading {
    .usa-file-input__choose {
      @include cfa-transition;

      color: color('ink');
    }
  }

  .usa-file-input__target {
    &.has-invalid-file {
      @include u-border($theme-form-elements-border-width, dashed, $theme-color-error-dark)
    }
  }

  .usa-file-input__accepted-files-message {
    color: color('error-dark')
  }
}
