@use 'uswds-core' as *;
@use 'cfa-core' as *;

.cfa-input-group {
  height: units($cfa-input-height);
}

.cfa-input-group .usa-input-prefix,
.cfa-input-group .usa-input-suffix {
  color: color('ink');

  font-weight: $theme-font-weight-bold;
  padding: 0 units($cfa-form-elements-padding-y);
}

.cfa-input-group .usa-input-prefix + input {
  // @include u-padding-left($icon-offset);
  @include u-padding-right($cfa-form-elements-padding-x);
}

.cfa-input-group .usa-input-suffix {
  // right: 0;
}
